@use '../../global//variables' as v;


.bg_black{
    background-color: v.$blue;
    
    .iso-ayu {
        img {
            max-width: 284px;
        }
    }

    .section_main_title {
        h1 {
            max-width: 50%;
        }

        .desc {
            max-width: 50%;
        }
    }
}