@use '../global/variables' as v;


/* FUENTE PERSONALIZADA */
@font-face {
    font-family: 'Muli';
    src: url('/fonts/muli/Muli-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Muli';
    src: url('/fonts/muli/Muli-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Muli', sans-serif;
    color: v.$text-gray;

}

h1, h2, h3, h4, h5, h6 {
    color: #232323;
    font-family: 'Muli', sans-serif;
    font-style: normal;
    margin-bottom: 0;
    margin-top: 11px;
    line-height: 1.2;
    font-weight: 700;
    -webkit-transition: .5s;
    transition: .5s;
    font-size: 36px;
}


ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
}

.subtitle {
    font-size: 1rem;
    color: #488F2B;
    letter-spacing: .1rem;
}

.title {
    text-align: center;
    font-size: 2.55rem;
}

.btn-white {
    background-color: transparent;
    border: 1px solid v.$white;
    color: v.$white;
    border-radius: v.$border;
    padding: .8rem 1.6rem;
    font-size: 1.1rem;
    transition: all 0.3s ease; 


    &:hover {
        background-color: v.$green;
        border: 1px solid v.$green;
    }
}




.max-width {
    max-width: unset;
    margin: 0 auto;
}

.text-justify {
    text-align: justify;
}

.btn-green {
    background-color: v.$green;
    color: v.$white;    
    padding: .6rem 1.5rem !important;
    border-radius: v.$border;
    transition: all 0.3s ease;
    border: none;
}

.btn-public {
    background-color: v.$white;
    color: v.$black;
    padding: .5rem 1rem;
    border-radius: v.$border;
    transition: .5s ease-in-out;
}

.btn-public:hover {
    color: v.$greenv2;

}

.green-text {
    color: v.$greenv2 !important;
}

.bg-green {
    background-color: v.$greenv2;
}

.btn-green:hover {
    color: v.$white;
    box-shadow: 0 0 10px rgba(56, 142, 60, 0.7); 
}

/* BTN - CLOSE */
.btn-gray {
    color: v.$white;
    background-color: v.$gray;
    border-radius: v.$border;
    transition: all 0.3s ease; 
    padding: .6rem 1.5rem !important;
    border: none;

}

.btn-gray:hover {
    box-shadow: 0 0 10px rgba(106, 107, 106, 0.7); 

}



/* ESTILOS SWEETALERT */
.swal2-confirm {
    background-color: v.$green !important;
    color: v.$white !important;
    border-color: v.$green !important;
  }
  


  /* Asegura que la opacidad del backdrop sea 0 cuando se cierre el modal  MODAL.VUE*/
.modal-backdrop.fade {
    opacity: 0 !important;
    pointer-events: none; /* Para que no sea interactuable */
    transition: opacity 0.15s ease;
}

/* Esto es útil si no quieres que el backdrop se quede en el DOM */
.modal-backdrop.modal-backdrop-hidden {
    display: none !important;
}



.footer {
    .title {
        font-size:1.4rem;
        font-weight: 700;
    } 
}



