@use "../global/variables" as v;

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 132px;
    max-height: 132px;
    padding: 0;
    height: auto;
    box-sizing: border-box;
    background-color: v.$green;

    /* POSICIÓN FIJA AL HACER SCROLL */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: top 0.3s ease-in-out;

    .navbar {
        background-color: v.$white;

        .nav-links {
            a {
                position: relative;
                padding-bottom: 5px;
                color: #232323;
                font-weight: 600;
                text-decoration: none;
                transition: color 0.3s ease;

                &:hover {
                    color: v.$green;
                }

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0;
                    height: 2px;
                    background-color: v.$green;
                    transition: width 0.3s ease;
                }

                &:hover::after {
                    width: 100%;
                }
            }
        }
    }
}

/* Barra superior */
.top-bar {
    background-color: v.$green;
    padding: 10px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .contact-info a,
        .phone {
            color: v;
            text-decoration: none;
            margin-right: 2rem;
        }
    }
}

.contact-info .separator {
    color: v.$white;
    margin-right: 10px;
}

.social-icons a {
    color: v.$white;
    text-decoration: none;
    margin-left: 15px;
}

.social-icons {
    .unete {
        font-size: 1.2rem;
    }
}

.social-icons a:hover {
    color: v.$white;
}

/* Barra de navegación principal */
.navbar {
    background-color: v.$white;
    padding: 10px 0;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .row {
            display: flex;
            width: 100%;

            .col-3 {
                display: flex;
                justify-content: flex-start;
            }

            .nav-links {
                display: flex;
                align-items: center;
            }
        }
    }
}

.nav-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    justify-content: flex-end;

    li {
        margin-left: 20px;

        a {
            text-decoration: none;
            color: #333;
            font-weight: 600;
            font-size: 1.09rem;

            &:hover {
                color: v.$green;
            }
        }
    }
}

.contact-info {
    display: flex;
    .icon {
        display: flex;
        gap: 0.3rem;
        font-size: 0.8rem;
    }
}
